.gridTemplate{
    background-color: #f7f7f7;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 50px;
    border-radius: 25px;
    margin-top: 30px;
}

@media screen and (max-width: 840px) {
    .gridTemplate{
        display: flex;
        flex-direction: column;
    }

    
}