@use "./reset.scss";


$color-Rose: #ff6060;



html{
    max-width: 1240px;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    min-height: 100vh;
}
body{
    margin: 10px;
}